<h4>What's your name?</h4>
<form action="/get_user" method="post" class="form-inline">

  <input type="text" name="username" class="input-medium" placeholder="Your name"/>
  <button type="submit" class="btn">Login</button>

</form>
