<!-- <% total = calculate_total(session[:player_cards]).to_i %>
<p>
<% if total == 21  %>
    <h1> 21 You Win! </h1>

<% 	elsif total > 21 %>
    <h1><%= total %> You Busted! Sorry.</h1>
<% else %>
    <h1>It's all good.</h1>
  <% end %>
</p> -->
